.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #007bff; /* Matching the header background color */
  border-top: 1px solid #ddd;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff; /* Footer text color */
}

.navbar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff; /* Navbar link color */
  font-size: 0.8rem;
}

.navbar__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.navbar__link--active span {
  font-weight: bold;
  color: #ffdd57; /* Active link text color for better visibility */
}

@media (max-width: 767px) {
  .navbar__icon {
    width: 20px;
    height: 20px;
  }

  .navbar__link {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar__icon {
    width: 24px;
    height: 24px;
  }

  .navbar__link {
    font-size: 0.8rem;
  }
}
