/* navigation.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #05476d;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for separation */
  z-index: 1000; /* Ensure the footer is on top of other content */
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: fff; /* Adjust text color */
}

.navbar__link--active {
  font-weight: bold;
}

.navbar__icon {
  width: 24px;
  height: 24px;
}

.navbar__icon--inactive {
  display: none;
}

.navbar__icon--active {
  display: inline;
}
/* Home page active */
.navbar__link--home.active .navbar__icon--active {
  display: inline;
}

.navbar__link--home.active .navbar__icon--inactive {
  display: none;
}

/* Bookmarks page active */
.navbar__link--bookmarks.active .navbar__icon--active {
  display: block;
}

.navbar__link--bookmarks.active .navbar__icon--inactive {
  display: none;
}

/* Profile page active */
.navbar__link--profile.active .navbar__icon--active {
  display: inline;
}

.navbar__link--profile.active .navbar__icon--inactive {
  display: none;
}
